/* Global Layout Stylesheet (Common across all views) */

/* Body layout defaults */
body {
  background-color: #f3edfc;
  font-family: "Euclid Circular A", "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* NAVBAR DESIGN */
.navbar {
  height: 70px;
  background-color: white;
}

.fa-compass {
  color: rgb(255, 99, 71);
  font-size: 30px;
}

.navregister-btn {
  margin: 10px 0px 0px 0px;
}

.navelogin-btn {
  margin: 20px 0px 0px 0px;
}

.profile-photo-nev {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.profile-photo-svgg {
  margin: 0px 0px 0px 0px;
}

.profile-photo-svgg-alingment-box {
  height: 180px;
  width: 35px;
  background-color: #ff190000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RESPONSIVE NAVBAR */
@media (max-width: 768px) {
  .navbar-collapse {
    background-color: rgb(255, 255, 255); /* Add a white background */
    z-index: 1000; /* Ensure it appears above other elements */
    padding: 10px; /* Add some padding for better spacing */
    border-bottom: 5px solid #e00060;
    border-left: 1px solid #e00060;
    border-right: 1px solid #e00060;
    border-radius: 0px 0px 20px 20px;
  }
}